# Instagram Graph API demo
IG_USER_ID=17841443524682895
IG_ACCESS_TOKEN=EAANileGK638BQ3I4hVfagBlJzUtubDFXAPGz3pTYeEqKnT9Lvw6znaKStja8siKvHBctVjHeKr31kRB6jWxdZCzBZBbxldZB2Nw2dpSn95CsjzUG9rxPz84ZABULMOZBLlSaldtbgyJTbJBh0ICVefgv47Ypd7JXOMcNmVrgCINI9Ra72Br1jW7ZC3xWBFI1HVqTON5ZBZAGntslxXrfhOqvEcIGZA39tnBGdJCnnEkIKgZA1BAJOXmVgYpILZBFa8rMtnlAJ1gTmgeZATR1BQZDZD
IMAGE_URL=
CAPTION=Demo post vanuit Node (autopost)
# Optional
IG_API_VERSION=v24.0